APP_NAME="BookApp"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=https://your-backend-url.com

DB_CONNECTION=mysql
DB_HOST=your-aiven-host
DB_PORT=3306
DB_DATABASE=your-database-name
DB_USERNAME=your-username
DB_PASSWORD=your-password

CACHE_STORE=database
SESSION_DRIVER=database
QUEUE_CONNECTION=database

# Algolia Configuration
ALGOLIA_APP_ID=your-algolia-app-id
ALGOLIA_SECRET=your-algolia-secret-key
ALGOLIA_SEARCH_KEY=your-algolia-search-key
ALGOLIA_BOOKS_INDEX=books
